<div class="left_image" align="center" >
	<%=image_tag "Screen.png", :width => "120px" %>
</div>
<main>
  <section>
    <hgroup>
      <h1>Items</h1>
    </hgroup>
    <article>
      <p>Scoz<br>
        <span>$1,000</span></p>
      <p><img src="/assets/1.jpg"></p>
    </article>
    <hr>
    <article>
      <p>Tyme<br>
        <span>$1,000</span></p>
      <p><img src="/assets/2.jpg"></p>
    </article>
    <hr>
    <article>
      <p>Scoz<br>
        <span>$1,000</span></p>
      <p><img src="/assets/3.jpg"></p>
    </article>
    <hr>
    <p class="total">$3,000</p>
  </section>
  <section class="check"><a href="javascript:void(0);">Checkout</a></section>
  <section class="continue"><a href="/shopping/shop">Continue</a></section>
  <div class="cart"><a href="/checkout/cart">
  			<%=image_tag "cart.png", :alt => "cart" %>
  		</a> </div>
</main>