<div class="left_image" align="center" >
	<%=image_tag "Screen.png", :width => "120px" %>
</div>
<main>
  <section style="background:#efefef; height:300px; padding:15px 0 0 0; margin-top:50px;" align="center">
    <div class="product">
    <img src="/assets/buck_2.jpg" >
    </div>
    
    <div class="product">
    <img src="/assets/tyme_8.jpg" >
    </div>
    
    <div class="product">
    <img src="/assets/robo1_1 copy.jpg" >
    </div>
    
    <div class="product">
    <img src="/assets/tyme_1 copy.jpg" >
    </div>
    
    
    <div class="product">
    <img src="/assets/buck_1.jpg" >
    </div>
    
    <div class="product">
    <img src="/assets/darby1_1.jpg" >
    </div>
    
    <div class="product">
    <img src="/assets/darby2_2.jpg" >
    </div>
    
    <div class="product">
    <img src="/assets/natey_1.jpg" >
    </div>
    
    <div class="product">
    <img src="/assets/scoz1.jpg" >
    </div>
    
  </section>
      <div class="cart" style="margin-top:30px; "><a href="/checkout/cart">
  			<%=image_tag "cart.png", :alt => "cart" %>
  		</a> </div>
  
</main>
